html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(180, 180, 180);
}
body {
  padding: 1em 10em 1em 10em;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 4px 4px 2px rgb(71, 71, 71);
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
p:hover {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  border: 1px solid black;
}
img {
  display: block;
  margin: 0 auto;
  width: 600px;
}
